*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 60px;
}

.carrousel-container {
    min-width: 300px;
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(237, 20, 20);
    display: flex;
    flex-flow: column nowrap;
    border-radius: 8px;
    align-items: center;
    padding: 40px;
    box-shadow: 2px 2px 5px 3px rgb(204, 9, 9);
    gap: 30px;
}

.img-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-img{
    display: flex;
}

.slider-img img {
    width: 100%;
    max-height: 420px;
    user-select: none;
    border-radius: 8px;
}

.left-arrow, .right-arrow {
    position: absolute;
    font-size: 3rem;
    align-self: center;
    height: 40px;
    color: white;
    cursor: pointer;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.633);
    transition: opacity 0.2s linear;
    margin: 0 10px;
    border-radius: 8px;
    z-index: 1;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.img-container:hover .left-arrow, .img-container:hover .right-arrow {
    opacity: 1;
}

.points-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    background-color: rgb(192, 10, 10);
    gap: 20px;
}

.points {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 18px; 
    height: 18px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.points.selected{
    border: 1px solid white;
    border-radius: 50%;
    box-shadow:  0 0 0 2px rgb(237, 20, 20), 0 0 0 4px white; 
}

.points:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}

@media (max-width: 1024px) {
    .carrousel-container{
        padding: 20px;
        gap: 20px;
    }

    .left-arrow, .right-arrow{
        font-size: 2rem;
    }
}
